# Gradle files
.gradle/
build/
*.apk
*.aar
*.ap_
*.aab

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android Studio files
.idea/
*.iml
*.iws
*.ipr
out/

# macOS
.DS_Store

# Misc
.classpath
.project
.settings/
*.swp
*~